*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

body {
    width: 414px;
    height: 921px; 
    margin: 0 auto;
    padding: 26px;
    font-family: Avenir, sans-serif;
    background-color: #fff;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; /* 背景色 */
    padding: 20px 16px; /* 余白を追加 */
    border-bottom: 1px solid black
  }
  
  .boards-title {
    color: #000;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%; /* 丸いアイコンにする */
    object-fit: cover; /* 画像の比率を維持 */
  }
  